body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #BEBCB6;
}

.caixa--cabecalho {
    background: #99958A;
    padding: 15px;
    box-shadow: 0px 2px 5px 0px #99958aee;
    /* position: fixed;
    top: 0; */
}

.cabecalho{
    position: relative; /*fazemos isso porque o "nav" ta com uma posição absoluta, então precisamos dar uma posição relativa para esses itens, assim eles serão movidos*/
    width: 940px;
    margin: 0 auto;     /*Centraliza um conteúdo*/
    display: grid;
    grid-template-columns: auto;
}

.cabecalho__logo--link {
    align-self:  center;
    justify-self: center;
}

.cabecalho__logo{
    text-decoration: none;
    color:#000000;
    width: 100px;
}


.cabecalho__menu{
    align-self: center;
    justify-self: center ;
    top: 110px;
    right: 0;
}

nav li{
    display: inline-block;                /*Alinha o menu*/
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;  /*tira decoração padrão que sublinha links*/
    transition: 0.5s;
}

nav a:hover{
    color: red;
    text-decoration: underline;
    letter-spacing: 0.15em;
    transition: 0.5s;
}


.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block; /*FAZ COM QUE OS ITENS FIQUEM EM UMA LINHA, UM AO LADO DO OUTRO, e nao abaixo como padrão*/
    text-align: center;
    width: 30%;
    vertical-align: top;
    /*background: #CCCCCC;*/
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*Pesquisar, mas muda a forma que o navegador calcula as margens*/
    border: 2px solid #000000; /*tamanho tipo cor da borda*/
    border-radius: 15px;

}

.produtos li:hover{                 /*Quando passo o mouse por cima*/
    border-color: red;
}

.produtos li:active{                /*Quando pressiono tecla do mouse*/
    border-color: green;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.descricao{
    font-size: 18px;
}

.preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

form {
    margin: 40px 150px;
}

form label, form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;     /*largura do botao*/
    padding: 15px 0;    /*espaçamento interno do botao aultura/lados */
    background: darkred;    /*cor do botao*/
    color: white;   /*cor da fonte*/
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px; /*Coloca borda arredondada*/
    transition: 1s all; /*adiciona um tempo de transição quando o mouse está por cima*/
    cursor: pointer; /*transforma o ponteiro do mouse em uma mãozinha*/
}

.enviar:hover{
    background: red;
    transform: scale(1.1); /*aumenta o botao na escala de 10%, conforme passado por parametro*/
}

table{
    margin: 20px 150px;

}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
    font-weight: center;
}

td, th{
    border: 1px solid black; /*borda: tamanho, tipo, cor*/
    padding: 8px 15px;

}

.cartao__principal {

    border-radius: 30px;
    width: 940px;
    margin: 2rem auto;
    background: #99958A;
    box-shadow: 0px 5px 10px 2px #99958aee;
}

.cartao__principal--banner {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.cartao__principal--conteudo {
    display: grid;
    padding-top: 20px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.cartao__principal--titulo {
    font-size: 1.5em;
    font-weight: 800;
    justify-self: center;
    grid-column: span 2;
}

.cartao__principal--imagem-utensilios {
    width: 130px;
    padding: 10px;
    border-radius: 50%;
    align-self: center;
    border-right: 4px solid #000000;
}

.cartao__principal--texto {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    padding: 20px;
    text-transform: uppercase;
    line-height: 150%;
    text-indent: 30px;
}


.secao__mapa{
    padding: 3em 0;
    background: linear-gradient(#BEBCB6 , #98958C);
}

.titulo-mapa{
    text-align: center;
    font-size: 1.5em; /*"em" multiplica o tamanho princpal pelo seu numero antecessor*/
    margin: 0 0 1em;
    font-weight: 800;
}

.mapa-conteudo{
    border-radius: 10px;
    width: 940px;
    margin: 0 auto;
}

.secao__mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.secao__beneficios{
    background: linear-gradient(#98958C , #716E62);
    overflow: hidden;
}

.secao__beneficios--titulo {
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
    padding: 25px;
}

.secao__beneficios--conteudo{
    width: 640px;
    margin: 0 auto;
}

.secao__beneficios--conteudo-lista{
    width: 40%;
    display: inline-block;
    vertical-align: top;

}

.secao__beneficios--conteudo-itens{
    line-height: 1.5; /*altura da linha, espaçamento entre linhas*/

}

.secao__beneficios--conteudo-itens:before{ /* conteúdos apenas para exibição, não selecionável, tem o before e o after*/
    content:"⁕";
    padding: 2px;
}

.secao__beneficios--conteudo-itens:first-child{ 
    padding-top: 45px;
} 

.img-beneficios{
    width: 60%;
    opacity: 1;
    box-shadow: 10px 10px 5px 0 #000000; /*cria uma sombra (x,y, opacidade ,expansão da sombra,cor)  PARA CRIAR SOMBRA INTER USA-SE "inset"*/
}

.img-beneficios:hover{
    opacity: 0.3;       /*muda a opacidade do elemento*/
    transition: 1s;
}

.video{
    width: 560px;
    margin: 2em auto;
    height: 100%;
}

footer{
    text-align: center;
    background: url("../imagens/bg.jpg");
    padding: 40px;
}

.copy{
    color: #99958A;
    font-size: 13px;
}



@media screen and (max-width: 480px){
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
        width: auto;
    }

    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .lista-beneficios, .img-beneficios{
        width:100%;
        text-align: center;
    }

}